<!--
<header>
    <div class="container-fluid" style="background-color: #0a192f;">

        <div class="row" style="color: var(--textColor); padding: 30px;">
            <div class="col-1">
                <p style="color: var(--textColor)">logo.png</p>
            </div>
            <div class="ml-auto p-2 bd-highlight">
                <div class="mainHeaderButtons" style="display: flex; ">
                    <p style="margin-left: 40px; color: var(--textColor);">About</p>
                    <p style="margin-left: 40px; color: var(--lightBgColor);">experience</p>
                    <p style="margin-left: 40px; color: var(--lightTextColor);">work</p>
                    <p style="margin-left: 40px; color: var(--textColor);">contact</p>
                    <p style="margin-left: 40px; color: var(--textColor);">resume</p>
                </div>
            </div>
        </div>
    </div>
</header>
-->
<!--
    <div class="col-1">
                <p style="color: var(--textColor)">about</p>
            </div>
            <div class="col-1">
                <p style="color: var(--textColor)">experience</p>
            </div>
            <div class="col-1">
                <p style="color: var(--textColor)">work</p>
            </div>
            <div class="col-1">
                <p style="color: var(--textColor)">contact</p>
            </div>
            <div class="col-1">
                <p style="color: #00ADB5">resume</p>
            </div>
-->

<header >
    <div class="container-fluid" style="background-color: grey; height: 50px;">
        welcome
    </div>
</header>