
<div class="d-flex justify-content-between">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" style="background-color: var(--bgColor); color: red;">a</div>
            <div class="col-10" style="background-color: var(--bgColor);">
                <p style="padding-left: 15%; padding-top: 150px; color: var(--textColor); font-size: 20px; position: relative; top: 30px;">Welcome. My name is</p>
                <p style="padding-left: 15%; font-size: 70px; color: var(--lightTextColor); font-weight: bold; font-family: 'Changa', sans-serif;">Paradis -<br></p>
                <p style="padding-left: 15%; font-size: 50px; color: grey; font-weight: bold; font-family: 'Changa', sans-serif; position: relative; bottom: 50px;">Backend Developer<br></p>
                <p style="padding-left: 15%; font-size: 20px; color: rgb(168, 167, 167); position: relative; bottom: 70px;">I'm an independent Data Scientist and Fulll Stack Web Developer with over 6 years of experience<br>
                    I was born in Argentina, but have more than 10 years practicing english <br> <br>RESUME LINK</p>
            </div>
            <div class="col-1" style="background-color: var(--bgColor); color: red;">b</div>
        </div>
    </div>
</div>
