
<div class="d-flex justify-content-between">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" style="background-color: #0a192f;"></div>
            <div class="col-10" style="background-color: #0a192f; height: 1500px;">
                <p style="color: white; padding-left: 30%;">this is a test</p>
            </div>
            <div class="col-1" style="background-color: #0a192f;"></div>
        </div>
    </div>
</div>