
<p style="color: white;"> maybe some extra space here</p>
<div class="d-flex justify-content-between" style="padding-top: 150px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1" style="background-color: var(--bgColor); color: red;">a</div>
            <div class="col-10" style="background-color: var(--bgColor); padding-left: 150px;">
                <p style="padding-left: 15%; color: var(--textColor); font-size: 20px">Who Am I?</p>
                <p style="padding-left: 15%; font-size: 20px; color: var(--lightTextColor)">An interesting text about me and my small past maybe an image too</p>
            </div>
            <div class="col-1" style="background-color: var(--bgColor); color: red;">b</div>
        </div>
    </div>
</div>

<p style="color: white;"> maybe some extra space here</p>